<body style="background-color: #e9ecef;">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502819126416-d387f86d47a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);">
  <div class="container">
    <h1>The Cocktail Don</h1>
    <p>A collection of the worlds best cocktails</p>
  </div>
</div>
<div class="cocktails-container">
<% @cocktails.each do |cocktail|%>
<div class="cocktail-card">
<div class="card-product">
  <img src="<%=cl_image_path cocktail.photo.key%>"/>
  <div class="card-product-infos">
    <h2><a class="btn btn-dark" href="/cocktails/<%=cocktail.id%>" role="button"><%= cocktail.name %></a></h2>
    <p><%=cocktail.description%></p>
  </div>
</div>
</div>
<%end%>
</div>
</body>
<footer>
<div class="footer">
<h6>Cocktail Don made with ❤ by CK Development</h6>
</div>
</footer>